.loginForm{
  margin-top: 10%;
  background-color: rgb(228, 228, 228);
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.loginForm label{
  letter-spacing: 0.4px;
  font-size: medium;
}
.loginForm input{
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 3px;
  background-color: rgb(184, 184, 184);
}
.loginForm input:focus{
  transition: 0.4s;
  background-color: rgb(228, 228, 228);
  border-color: lightgrey;
  border-bottom: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

.loginForm input[type=submit]{
  font-size: medium;
  border: 0px solid transparent;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: rgb(88, 81, 227)
}
.loginForm input[type=submit]:hover{
  color: blue;
  cursor: pointer;
}
.loginForm label{
  font-size: medium;

}

.profile-details{
  margin-left: 40px;
  margin-right: 40px;
}

.profile-details-wrapper{
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  width: auto;
}

.profile-details-wrapper ul{
  list-style-type: none;
  padding-left: 10px;
}

.profile-details-wrapper ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-details-wrapper ul li button{
  font-size: medium;
  border: 0px solid transparent;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: rgb(88, 81, 227)
}

.profile-details-wrapper ul li button:hover{
  color: blue;
  cursor: pointer;
}

.profile-details-wrapper ul li button:focus{
  outline: none;
}

.dashboard-journalwrapper{
  margin-left: 20px;
  padding: 0px
}

.dashboard-journalday-overview{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  width: auto;
}

.dashboard-journalentry-overview ul{
  list-style-type: none;
  padding-left: 2vw;

}

.dashboard-journalentry-overview-title{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px; 
}
.dashboard-journalentry-overview-sets{
  margin-left: 10px;
}

.dashboard-journalday-overview-date{
  font-weight: bold;
  font-size: 20px;
}

.dashboard-journalentry-overview-toggle-up{
  background-color: transparent;
  margin-left: 5px;
  border: none;

}
.dashboard-journalentry-overview-toggle-up:hover{
  cursor: pointer;
}

.dashboard-journalentry-overview-toggle-up:focus{
  outline: none;
}

.dashboard-journalentry-overview-toggle-down{
  background-color: transparent;
  margin-left: 5px;
  border: none;
  color: grey

}
.dashboard-journalentry-overview-toggle-down:hover{
  cursor: pointer;
}
.dashboard-journalentry-overview-toggle-down:focus{
  outline: none;
}
