.link{
  transition: 0.4s;
  text-decoration: none; 
  color: black; 
}

.link:hover {
  color: blue; 
}
.loginForm{
  margin-top: 10%;
  background-color: rgb(228, 228, 228);
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.loginForm label{
  letter-spacing: 0.4px;
  font-size: medium;
}
.loginForm input{
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 3px;
  background-color: rgb(184, 184, 184);
}
.loginForm input:focus{
  transition: 0.4s;
  background-color: rgb(228, 228, 228);
  border-color: lightgrey;
  border-bottom: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

.loginForm input[type=submit]{
  font-size: medium;
  border: 0px solid transparent;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: rgb(88, 81, 227)
}
.loginForm input[type=submit]:hover{
  color: blue;
  cursor: pointer;
}
.loginForm label{
  font-size: medium;

}

.profile-details{
  margin-left: 40px;
  margin-right: 40px;
}

.profile-details-wrapper{
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  width: auto;
}

.profile-details-wrapper ul{
  list-style-type: none;
  padding-left: 10px;
}

.profile-details-wrapper ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-details-wrapper ul li button{
  font-size: medium;
  border: 0px solid transparent;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: rgb(88, 81, 227)
}

.profile-details-wrapper ul li button:hover{
  color: blue;
  cursor: pointer;
}

.profile-details-wrapper ul li button:focus{
  outline: none;
}

.dashboard-journalwrapper{
  margin-left: 20px;
  padding: 0px
}

.dashboard-journalday-overview{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  width: auto;
}
.dashboard-journal-newentry-btn{
  transition: 0.4s;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: relative; 
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  border: 0px;
  color: rgb(88, 81, 227);

}

.dashboard-journal-newentry-btn:hover{
  cursor: pointer;
  color: blue;
}
.dashboard-journal-newentry-btn:focus{
  outline: none;
}



.dashboard-journalentry-overview ul{
  list-style-type: none;
  padding-left: 2vw;

}

.dashboard-journalentry-overview-title{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
.dashboard-journalentry-overview-sets{
  margin-left: 10px;
}
.dashboard-journalentry-overview-sets-set{
  margin-bottom: 5px; 
}
.dashboard-journalentry-overview-sets-set li{
  display: inline-block; 
  border: 1px solid black;
  border-radius: 7px;
  margin-right: 10px; 
  margin-top: 5px; 
  margin-bottom: 5px; 
  padding: 3px; 
}

.dashboard-journalday-overview-day{
  font-weight: bold;
  font-size: 20px;
}

.dashboard-journalentry-overview-toggle-up{
  background-color: transparent;
  margin-left: 5px;
  border: none;
	transition: 0.4s

}
.dashboard-journalentry-overview-toggle-up:hover{
  cursor: pointer;
	color: blue; 
}

.dashboard-journalentry-overview-toggle-up:focus{
  outline: none;
}

.dashboard-journalentry-overview-toggle-down{
  background-color: transparent;
  margin-left: 5px;
  border: none;
  color: grey;
	transition: 0.4s

}
.dashboard-journalentry-overview-toggle-down:hover{
  cursor: pointer;
	color: blue; 
}
.dashboard-journalentry-overview-toggle-down:focus{
  outline: none;
}

.dashboard-numentries-wrapper{
  margin-bottom: 50px; 
  text-align: center; 
}
.dashboard-numentries-wrapper input{
  margin-left: 10px; 
  text-align: center;
  width: 35px;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 20px;
  padding: 3px;
  background-color: rgb(184, 184, 184);
}

.dashboard-numentries-wrapper input:focus{
  transition: 0.4s;
  background-color: rgb(228, 228, 228);
  border-color: lightgrey;
  border-bottom: 2px solid blue;
  border-radius: 3px;
  outline: none;

}

.journalentry-wrapper{
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  padding: 10px;
}
.journalentry-delete-btn{
	display: flex;
	float: right; 
	background-color: transparent;	
	border: 0px; 
	border-radius: 7px;
	color: red;
	font-size: 15px;
	transition: 0.4s;
}

.journalentry-delete-btn:hover{
	color: white; 
	background-color: red;	
}
.journalentry-delete-btn:focus{
	outline: none; 
}

.journal-new-set-btn{
  text-align: center;
  font-size: 30px;
  height: 30px;
  display: inline-block; 
  position: relative; 
  transform: translate(0, 10%);
  left: 10px;
  color: blue; 
  border: 0px solid transparent ;
  border-radius: 50%;
  background-color: transparent
}

.journalentry-wrapper button:hover{
  cursor: pointer; 
}

.journalentry-wrapper button:focus{
  outline: none;  
}


.journal-newset-list{
  list-style-type: none; 
}


.journal-newset-settitle{
  font-weight: bold;
}

.journal-newset-setfields{
  list-style-type: none; 
  padding-left: 0px; 
}

.jounralentry-form-input input{
  text-align: center; 
  font-size: large;
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 20px;
  width: 200px;
  padding: 3px;
  background-color: rgb(184, 184, 184);
}

.jounralentry-form-input input:focus{
  transition: 0.4s;
  background-color: rgb(228, 228, 228);
  border-color: lightgrey;
  border-bottom: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

.journal-newset-setfields input{
  font-size: medium;
  width: 100px;
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 20px;
  padding: 3px;
  background-color: rgb(184, 184, 184);
}

.journal-newset-setfields input:focus {
  transition: 0.4s;
  background-color: rgb(228, 228, 228);
  border-color: lightgrey;
  border-bottom: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

.journal-newset-setfields label{
  display: inline-block;
  width: 75px; 
}

.journal-set-delete-btn{
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(227, 53, 53);
  letter-spacing: 0.4px; 
}
.journal-set-delete-btn:hover{
  color: red; 
}
.journal-set-delete-btn:focus{
  outline: none;
}

.journalentry-form-submit-btn{
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(88, 81, 227);
  letter-spacing: 0.4px; 
}

.journalentry-form-submit-btn:hover{
  cursor: pointer
}

.journalentry-form-submit-btn:focus{
  outline: none; 
}

.journalentry-form-submit-btn-saved{
  font-size: 15px;
  background-color: transparent;
  border: 0px solid transparent;
	border-radius: 7px;
  padding-left: 5px;
  color: rgb(68, 171, 72);
  letter-spacing: 0.4px; 
	transition: 0.4s;
}

.journalentry-form-submit-btn-saved:hover{
  cursor: pointer;
	background-color: rgb(68, 171, 72);
	color: white; 
}

.journalentry-form-submit-btn-saved:focus{
  outline: none; 
}

.journalentry-back-btn{
  transition: 0.4s;
  border: 0px solid transparent;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: transparent;
  font-size: 30px; 
  margin-left: 30px;
  margin-bottom: 10px;
  color: rgb(88, 81, 227);
}
.journalentry-back-btn:hover{
  cursor: pointer; 
  color: blue; 
}
.journalentry-back-btn:focus{
  outline: none;
}

.journal-search-bar-input{
  display: block; 
  position: relative; 
  font-size: 20px; 
  transform: translate(0, +50%);
  float: right; 
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid transparent;
  width: 10%;
  padding: 3px;
  color: rgb(138, 138, 138); 
  background-color: rgb(184, 184, 184); 
}
.journal-search-bar-input:focus {
  transition: 0.4s;
  width: 40%; 
  background-color: rgb(228, 228, 228);
  border-color: lightgrey;
  color: black; 
  border-bottom: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

.search-creategraph-link{
	text-decoration: none;
	color: rgb(88, 81, 227);
	font-size: 17px; 
}

.search-creategraph-link:hover{
	color: blue; 
}
