.link{
  text-decoration: none; 
}
.loginForm{
  margin-top: 10%;
  background-color: rgb(228, 228, 228);
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.loginForm label{
  letter-spacing: 0.4px;
  font-size: medium;
}
.loginForm input{
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 3px;
  background-color: rgb(184, 184, 184);
}
.loginForm input:focus{
  transition: 0.4s;
  background-color: rgb(228, 228, 228);
  border-color: lightgrey;
  border-bottom: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

.loginForm input[type=submit]{
  font-size: medium;
  border: 0px solid transparent;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: rgb(88, 81, 227)
}
.loginForm input[type=submit]:hover{
  color: blue;
  cursor: pointer;
}
.loginForm label{
  font-size: medium;

}

.profile-details{
  margin-left: 40px;
  margin-right: 40px;
}

.profile-details-wrapper{
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  width: auto;
}

.profile-details-wrapper ul{
  list-style-type: none;
  padding-left: 10px;
}

.profile-details-wrapper ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-details-wrapper ul li button{
  font-size: medium;
  border: 0px solid transparent;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: rgb(88, 81, 227)
}

.profile-details-wrapper ul li button:hover{
  color: blue;
  cursor: pointer;
}

.profile-details-wrapper ul li button:focus{
  outline: none;
}

.dashboard-journalwrapper{
  margin-left: 20px;
  padding: 0px
}

.dashboard-journalday-overview{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  width: auto;
}
.dashboard-journal-newentry-btn{
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(88, 81, 227);
  letter-spacing: 0.4px;

}

.dashboard-journal-newentry-btn:hover{
  cursor: pointer;
  color: blue;
}
.dashboard-journal-newentry-btn:focus{
  outline: none;
}

.dashboard-journalday-addentry-btn{
  font-size: 13px;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(88, 81, 227);
  letter-spacing: 0.4px;

}
.dashboard-journalday-addentry-btn:hover{
  cursor: pointer;
  color: blue;
}
.dashboard-journalday-addentry-btn:focus{
  outline: none;
}

.dashboard-journalday-expand-btn{
  margin-left: 20px;
  font-size: 13px;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(88, 81, 227);
  letter-spacing: 0.4px;

}
.dashboard-journalday-expand-btn:hover{
  cursor: pointer;
  color: blue;
}
.dashboard-journalday-expand-btn:focus{
  outline: none;
}

.dashboard-journalentry-overview ul{
  list-style-type: none;
  padding-left: 2vw;

}

.dashboard-journalentry-overview-title{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
.dashboard-journalentry-overview-sets{
  margin-left: 10px;
}

.dashboard-journalday-overview-date{
  font-weight: bold;
  font-size: 20px;
}

.dashboard-journalentry-overview-toggle-up{
  background-color: transparent;
  margin-left: 5px;
  border: none;

}
.dashboard-journalentry-overview-toggle-up:hover{
  cursor: pointer;
}

.dashboard-journalentry-overview-toggle-up:focus{
  outline: none;
}

.dashboard-journalentry-overview-toggle-down{
  background-color: transparent;
  margin-left: 5px;
  border: none;
  color: grey

}
.dashboard-journalentry-overview-toggle-down:hover{
  cursor: pointer;
}
.dashboard-journalentry-overview-toggle-down:focus{
  outline: none;
}

.journalentry-wrapper{
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(228, 228, 228);
  border: 0px;
  border-radius: 7px;
  padding: 10px;
}

.journal-new-set-btn{
  text-align: center;
  font-size: 20px;
  color: white; 
  border: 1px solid transparent ;
  border-radius: 50%;
  margin-left: 10px;
  background-color: rgb(88, 81, 227);
}

.journalentry-wrapper button:hover{
  cursor: pointer; 
}

.journalentry-wrapper button:focus{
  outline: none;  
}


.journal-newset-list{
  list-style-type: none; 
}


.journal-newset-settitle{
  font-weight: bold;
}

.journal-newset-setfields{
  list-style-type: none; 
  padding-left: 0px; 
}

.journal-newset-setfields input{
  
}

.journal-set-delete-btn{
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(227, 53, 53);
  letter-spacing: 0.4px; 
}
.journal-set-delete-btn:hover{
  color: red; 
}
.journal-set-delete-btn:focus{
  outline: none;
}

.journalentry-form-submit-btn{
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(88, 81, 227);
  letter-spacing: 0.4px; 
}

.journalentry-form-submit-btn:hover{
  cursor: pointer
}

.journalentry-form-submit-btn:focus{
  outline: none; 
}

.journalentry-form-submit-btn-saved{
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  padding-left: 5px;
  color: rgb(68, 171, 72);
  letter-spacing: 0.4px; 
}

.journalentry-form-submit-btn-saved:hover{
  cursor: pointer
}

.journalentry-form-submit-btn-saved:focus{
  outline: none; 
}